{
  "extends": "react-app",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true
  }
}
